/* line 1, ../scss/_grid.scss */
.grid {
  font-size: 20px;
  background: url(../img/bg.png);
  overflow: auto;
}
/* line 5, ../scss/_grid.scss */
.grid .module {
  color: white;
}

/* line 9, ../scss/_grid.scss */
.grid:after {
  clear: both;
}

/* line 13, ../scss/_grid.scss */
.gridResume {
  font-size: 20px;
  background: url(../img/beard2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #4f4f4f;
  overflow: auto;
}
/* line 20, ../scss/_grid.scss */
.gridResume .module {
  color: white;
}
/* line 23, ../scss/_grid.scss */
.gridResume .h3 {
  margin: 1px;
  padding: 1px;
  font-size: 30px;
}
/* line 28, ../scss/_grid.scss */
.gridResume .h4 {
  margin: 1px;
  padding: 1px;
  font-size: 20px;
}

/* line 34, ../scss/_grid.scss */
.gridResume:after {
  clear: both;
}

/* line 37, ../scss/_grid.scss */
.gridVideo {
  font-size: 20px;
  overflow: auto;
}
/* line 40, ../scss/_grid.scss */
.gridVideo .module {
  color: white;
}

/* line 44, ../scss/_grid.scss */
.gridVideo:after {
  clear: both;
}

/* line 48, ../scss/_grid.scss */
.grid1 {
  font-size: 20px;
  overflow: auto;
}
/* line 51, ../scss/_grid.scss */
.grid1 .module {
  color: black;
}

/* line 55, ../scss/_grid.scss */
[class*='grid-'] {
  float: left;
  overflow: auto;
}
/* line 58, ../scss/_grid.scss */
[class*='grid-'] p {
  padding: 20px;
}

/* line 62, ../scss/_grid.scss */
.grid-1:after {
  clear: both;
}

/* line 66, ../scss/_grid.scss */
.grid-1-1 {
  width: 100%;
  float: left;
}

/* line 70, ../scss/_grid.scss */
.grid-1-2 {
  width: 50%;
  float: left;
}
@media (max-width: 1080px) {
  /* line 70, ../scss/_grid.scss */
  .grid-1-2 {
    width: 50%;
  }
}
@media (max-width: 400px) {
  /* line 70, ../scss/_grid.scss */
  .grid-1-2 {
    width: 100%;
  }
}

/* line 77, ../scss/_grid.scss */
.grid-1-3 {
  width: 33.333%;
  float: left;
}
@media (max-width: 1080px) {
  /* line 77, ../scss/_grid.scss */
  .grid-1-3 {
    width: 100%;
  }
}
@media (max-width: 400px) {
  /* line 77, ../scss/_grid.scss */
  .grid-1-3 {
    width: 100%;
  }
}

/* line 84, ../scss/_grid.scss */
.grid-1-4 {
  width: 25%;
  float: left;
}
@media (max-width: 1080px) {
  /* line 84, ../scss/_grid.scss */
  .grid-1-4 {
    width: 50%;
  }
}
@media (max-width: 400px) {
  /* line 84, ../scss/_grid.scss */
  .grid-1-4 {
    width: 100%;
  }
}

/* line 91, ../scss/_grid.scss */
.grid-1-8 {
  width: 12.49%;
  float: left;
}
@media (max-width: 1080px) {
  /* line 91, ../scss/_grid.scss */
  .grid-1-8 {
    width: 50%;
  }
}
@media (max-width: 400px) {
  /* line 91, ../scss/_grid.scss */
  .grid-1-8 {
    width: 100%;
  }
}

/* line 98, ../scss/_grid.scss */
.module {
  padding: 20px;
  margin: auto;
  font-size: 18px;
}
/* line 102, ../scss/_grid.scss */
.module img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}
/* line 108, ../scss/_grid.scss */
.module h1 {
  text-align: center;
  text-size: 50px;
}
/* line 112, ../scss/_grid.scss */
.module .desc {
  color: white;
}

/* line 117, ../scss/_grid.scss */
.module-1 {
  padding: 20px;
  margin: auto;
  height: auto;
  font-size: 18px;
  color: black;
}
/* line 123, ../scss/_grid.scss */
.module-1 img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}
/* line 129, ../scss/_grid.scss */
.module-1 h1 {
  text-align: center;
}

/* line 134, ../scss/_grid.scss */
.moduleBlog {
  padding: 20px;
  margin: 20px;
  font-size: 18px;
  background: #d2fa3e;
  /* The Fallback */
  background: rgba(210, 250, 62, 0.4);
  color: black;
}
/* line 141, ../scss/_grid.scss */
.moduleBlog img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}
/* line 147, ../scss/_grid.scss */
.moduleBlog h1 {
  text-align: center;
  text-size: 50px;
}
/* line 151, ../scss/_grid.scss */
.moduleBlog .desc {
  color: white;
}

@font-face {
  font-family: 'Entypo';
  src: url("../font/Entypo-webfont.eot");
  src: url("../font/Entypo-webfont.eot?#iefix") format("embedded-opentype"), url("../font/Entypo-webfont.woff") format("woff"), url("../font/Entypo-webfont.ttf") format("truetype"), url("../font/Entypo-webfont.svg#EntypoRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url("../font//fontawesome-webfont.eot?v=3.0.1");
  src: url("../font//fontawesome-webfont.eot?#iefix&v=3.0.1") format("embedded-opentype"), url("../font//fontawesome-webfont.woff?v=3.0.1") format("woff"), url("../font//fontawesome-webfont.ttf?v=3.0.1") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* line 28, ../scss/_font.scss */
[data-icon]:before {
  font-family: 'FontAwesome';
  content: attr(data-icon);
  text-transform: none;
  font-size: 25px;
  font-weight: normal;
  font-style: normal;
  margin: 5px;
}
@media (max-width: 400px) {
  /* line 28, ../scss/_font.scss */
  [data-icon]:before {
    font-size: 22px;
    margin: 2px;
  }
}

/* line 40, ../scss/_font.scss */
[class^="icon-"],
[class*=" icon-"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
}

/* line 1, ../scss/_logo.scss */
.logo {
  position: absolute;
  top: 0;
  right: 85%;
  margin: -50 -288 0 0;
  width: 1000px;
  height: 230px;
  text-align: right;
  padding-top: -4px;
  padding-right: 50px;
  text-transform: uppercase;
  z-index: 4;
}
@media (max-width: 1080px) {
  /* line 1, ../scss/_logo.scss */
  .logo {
    right: 65%;
  }
}
@media (max-width: 400px) {
  /* line 1, ../scss/_logo.scss */
  .logo {
    right: 189%;
    top: 30px;
  }
}
/* line 15, ../scss/_logo.scss */
.logo h1 {
  color: white;
  position: absolute;
  top: 200;
  right: 140;
  font-size: 50px;
}
@media (max-width: 400px) {
  /* line 15, ../scss/_logo.scss */
  .logo h1 {
    top: -5;
    right: -267;
    font-size: 35px;
    color: black;
  }
}
/* line 28, ../scss/_logo.scss */
.logo h3 {
  color: #d2fa3e;
  position: absolute;
  top: 268;
  right: 150;
  font-size: 15px;
  letter-spacing: 10px;
}
@media (max-width: 400px) {
  /* line 28, ../scss/_logo.scss */
  .logo h3 {
    top: 38;
    right: -267;
    font-size: 13px;
    letter-spacing: 5px;
    font-weight: bold;
  }
}
/* line 44, ../scss/_logo.scss */
.logo img {
  height: 400px;
  top: 0;
}
@media (max-width: 400px) {
  /* line 44, ../scss/_logo.scss */
  .logo img {
    position: fixed;
    top: -15px;
    height: 100px;
  }
}

/* line 3, ../scss/_nav.scss */
.nav-wrap {
  padding-top: 262px;
  width: 100%;
  float: left;
  -webkit-transition: width .3s;
  -webkit-transition-timing-function: ease-in-out;
  background: url(../img/gray_jean.png);
}
@media (max-width: 400px) {
  /* line 3, ../scss/_nav.scss */
  .nav-wrap {
    width: 20%;
    float: left;
    top: 60px;
    position: fixed;
    padding: 0;
    height: 100%;
    background: #4f4f4f;
  }
  /* line 19, ../scss/_nav.scss */
  body.nav-open .nav-wrap {
    width: 80%;
  }
}
/* line 25, ../scss/_nav.scss */
.nav-wrap .main-nav {
  font-size: 0px;
  z-index: 12;
}
/* line 27, ../scss/_nav.scss */
.nav-wrap .main-nav .nav-show {
  display: none;
}
@media (max-width: 400px) {
  /* line 28, ../scss/_nav.scss */
  .nav-wrap .main-nav .nav-show {
    display: inline-block;
  }
}
/* line 30, ../scss/_nav.scss */
.nav-wrap .main-nav a {
  display: inline-block;
  width: 16.66667%;
  padding: 20px;
  background: #4f4f4f;
  color: #d2fa3e;
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 8px 0 8px -3px black;
  position: relative;
  text-spacing: 3px;
  /*
  &:nth-child(1){z-index: 7;}
  &:nth-child(2){z-index: 6;}
  &:nth-child(3){z-index: 5;}
  &:nth-child(4){z-index: 4;}
  &:nth-child(5){z-index: 3;}
  &:nth-child(6){z-index: 2;}
  &:nth-child(7){
  	z-index: 1;
  	box-shadow: none;
  }
  */
}
/* line 48, ../scss/_nav.scss */
.nav-wrap .main-nav a:nth-child(7) {
  z-index: 11;
}
/* line 48, ../scss/_nav.scss */
.nav-wrap .main-nav a:nth-child(6) {
  z-index: 12;
}
/* line 48, ../scss/_nav.scss */
.nav-wrap .main-nav a:nth-child(5) {
  z-index: 13;
}
/* line 48, ../scss/_nav.scss */
.nav-wrap .main-nav a:nth-child(4) {
  z-index: 14;
}
/* line 48, ../scss/_nav.scss */
.nav-wrap .main-nav a:nth-child(3) {
  z-index: 15;
}
/* line 48, ../scss/_nav.scss */
.nav-wrap .main-nav a:nth-child(2) {
  z-index: 16;
}
/* line 48, ../scss/_nav.scss */
.nav-wrap .main-nav a:nth-child(1) {
  z-index: 17;
}
@media (max-width: 1080px) {
  /* line 30, ../scss/_nav.scss */
  .nav-wrap .main-nav a {
    width: 100%;
  }
}
@media (max-width: 400px) {
  /* line 30, ../scss/_nav.scss */
  .nav-wrap .main-nav a {
    width: 100%;
    box-shadow: 0 0 25px -6px black;
    font-size: 0px;
    padding: 9px;
  }
  /* line 92, ../scss/_nav.scss */
  body.nav-open .nav-wrap .main-nav a {
    font-size: 15px;
  }
}
/* line 97, ../scss/_nav.scss */
.nav-wrap .main-nav a:hover {
  background: #d2fa3e;
  color: white;
}

/* line 107, ../scss/_nav.scss */
.socialLinks {
  position: absolute;
  display: block;
  right: 10px;
  top: 10px;
  float: right;
  z-index: 5;
}
@media (max-width: 1080px) {
  /* line 107, ../scss/_nav.scss */
  .socialLinks {
    position: absolute;
    display: block;
    right: 0px;
    top: 0px;
    float: right;
    width: 70px;
  }
}
@media (max-width: 400px) {
  /* line 107, ../scss/_nav.scss */
  .socialLinks {
    display: none;
  }
}
/* line 123, ../scss/_nav.scss */
.socialLinks a {
  color: #d2fa3e;
  font-size: 60px;
  padding: 2px;
  text-shadow: 4px 4px 4px #519600;
  display: inline-block;
  position: relative;
}
@media (max-width: 1080px) {
  /* line 123, ../scss/_nav.scss */
  .socialLinks a {
    width: 100%;
  }
}
/* line 132, ../scss/_nav.scss */
.socialLinks a:hover {
  color: blue;
  text-shadow: 4px 4px 4px #000;
}

/* line 8, ../scss/ie-global.scss */
body {
  background: url(../img/gray_jean.png);
  overflow-x: hidden;
  width: 100%;
}

/* line 15, ../scss/ie-global.scss */
.page-wrap {
  width: 100%;
  position: relative;
}
