$padding: 20px;
$offset: 6px;
$height: 500px;

$p: #9FEE00;
$s1: #519600;
$s2: #4f4f4f;
$c:#D2FA3E;
$white:#ffffff;
$fogdog:#f06d06;

@mixin breakpoint($point){
	@if $point == papa{
		@media(max-width:1600px){@content;}
		}
	@if $point == mama{
		@media(max-width:1080px){@content;}
		}
	@if $point == baby{
		@media(max-width:400px){@content;}
		}
	@if $point == smallbaby{
		@media(max-width:280px){@content;}
		}
	}
