$itemCount: 7;

.nav-wrap{
	padding-top:262px;
	width: 100%;
	float: left;
	-webkit-transition:width .3s;
	-webkit-transition-timing-function: ease-in-out;
	background: url(../img/gray_jean.png);
	//z-index:4;
	@include breakpoint(baby){
		width:20%;
		float: left;
		top:60px;
		position: fixed;
		padding:0;
		height:100%;
		background: $s2;
		body.nav-open & {
			width:80%;
		}
	}

	.main-nav
	{
		font-size: 0px;
		.nav-show{display: none;}
		@include breakpoint(baby){.nav-show{display: inline-block;}}
		z-index:12;
		a{
			display: inline-block;
			//need to become a caculation
			width: percentage(1/($itemCount - 1));
			padding: $padding;
			background: $s2;
			color: $c;
			text-align: center;
			font-size:15px;
			text-transform: uppercase;
			font-weight: bold;
			box-shadow: 8px 0 8px -3px black;
			position: relative;
			text-spacing: 3px;
			//Needs to become a loop-------------
	
			@for $i from 1 through $itemCount{
				$child: $itemCount - $i + 1;
				&:nth-child(#{$child}){z-index: $i+10;}
			}
			//&:nth-child(#{$itemCount}){box-shadow: none;}
			
			/*
			&:nth-child(1){z-index: 7;}
			&:nth-child(2){z-index: 6;}
			&:nth-child(3){z-index: 5;}
			&:nth-child(4){z-index: 4;}
			&:nth-child(5){z-index: 3;}
			&:nth-child(6){z-index: 2;}
			&:nth-child(7){
				z-index: 1;
				box-shadow: none;
			}
			*/
			@include breakpoint(mama){
			//need to become a caculation
			//width: percentage(2/($itemCount - 1));
			width:100%
			//need to become a caculation
			//&:nth-child(4){
			//	box-shadow: 0 0 25px -6px black;
			//}
			//need to become a caculation
			//&:nth-child(7){
			//	z-index: 1;
			//	box-shadow: none;
			//}
			}

			@include breakpoint(baby){
				width: 100%;
				//&:nth-child{
					box-shadow: 0 0 25px -6px black;
					//}
				//&:nth-child(2){box-shadow: 0 0 25px -6px black;}
				//&:nth-child(3){box-shadow: 0 0 25px -6px black;}
				//&:nth-child(4){box-shadow: 0 0 25px -6px black;}
				//&:nth-child(5){box-shadow: 0 0 25px -6px black;}
				//&:nth-child(6){box-shadow: 0 0 25px -6px black;}
				//&:nth-child(7){box-shadow: 0 0 25px -6px black;}
				font-size:0px;
				padding:9px;
				body.nav-open & {
					font-size:15px;
				}
			}

			&:hover{
			background: $c;
			color:$white;
				
			}
			
		}
	}
}

.socialLinks{
	position:absolute;
	display:block;
	right:10px;
	top: 10px;
	float:right;
	z-index:5;
	@include breakpoint(mama){
		position:absolute;
		display:block;
		right:0px;
		top: 0px;
		float:right;
		width:70px;
	}
	@include breakpoint(baby){display:none;}
	a{
		color:$c;
		font-size: 60px;
		padding:2px;
		text-shadow: 4px 4px 4px $s1;
		display: inline-block;
		position: relative;
		@include breakpoint(mama){width:100%;}
	}
	a:hover{
		color:blue;
		text-shadow: 4px 4px 4px #000;
	}
}