@import "bits";
@import "normalize";
@import "grid";
@import "font";
@import "logo";
@import "nav";

body{
background: url(../img/gray_jean.png);
overflow-x:hidden;
}


.page-wrap{
	width:100%;
	@include breakpoint(baby){
		width:80%;
		float:right;
		top:60px;
		-webkit-transition:width .3s;
		-webkit-transition-timing-function: ease-in-out;
		body.nav-open & {
			width:20%;
		}

		}
	position: relative;
}




