@import "bits";
//@import "normalize";
@import "grid";
@import "font";
@import "logo";
@import "nav";

body{
background: url(../img/gray_jean.png);
overflow-x:hidden;
width:100%;
}


.page-wrap{
	width:100%;
	position: relative;
}